last 4 chrome major versions
last 4 edge major versions
last 4 firefox major versions
last 3 safari major versions
last 4 chromeandroid major versions
last 4 samsung major versions
last 3 ios major versions